_jadefiles/header.jade
header
  h1.logo Island Tan 2 Go

  nav.site-nav
    ul
      li: a(href="#services") Services
      li: a(href="#about") About
      li: a(href="#faq") FAQ
      li: a(href="#contact") Contact
  div.welcome-box
    h1.welcome.large Welcome to Island Tan 2 Go Mobile Airbrush Tanning
    strong.welcome-text We specialize in Airbrush Tanning in Honolulu, Hawaii and Groton, Connecticut and surrounding areas. We are a mobile tanning service that can be done in the privacy of your own home or office.
    div.cta-container
      h2.cta1.bigger: a(href='#') Learn More
      h2.cta2.bigger: a(href='#') Book Now

_includes/header.html
<header><h1 class="logo">Island Tan 2 Go</h1><nav class="site-nav"><ul><li><a href="#services">Services</a></li><li><a href="#about">About</a></li><li><a href="#faq">FAQ</a></li><li><a href="#contact">Contact</a></li></ul></nav><div class="welcome-box"><h1 class="welcome large">Welcome to Island Tan 2 Go Mobile Airbrush Tanning</h1><strong class="welcome-text">We specialize in Airbrush Tanning in Honolulu, Hawaii and Groton, Connecticut and surrounding areas. We are a mobile tanning service that can be done in the privacy of your own home or office.</strong><div class="cta-container"><h2 class="cta1 bigger"><a href="#">Learn More</a></h2><h2 class="cta2 bigger"><a href="#">Book Now</a></h2></div></div></header>
